    /* Указываем box sizing */
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    /* Убираем внутренние отступы */
    
    ul[class],
    ol[class] {
        padding: 0;
    }
    /* Убираем внешние отступы */
    
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    ul[class],
    ol[class],
    li,
    figure,
    figcaption,
    blockquote,
    dl,
    dd {
        margin: 0;
    }
    /* Выставляем основные настройки по-умолчанию для body */
    
    body {
        min-height: 100vh;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
        line-height: 1.5;
    }
    /* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
    
    ul[class],
    ol[class] {
        list-style: none;
    }
    /* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
    
    a:not([class]) {
        text-decoration-skip-ink: auto;
    }
    /* Упрощаем работу с изображениями */
    
    img {
        max-width: 100%;
    }
    /* Указываем понятную периодичность в потоке данных у article*/
    
    article>*+* {
        margin-top: 1em;
    }
    /* Наследуем шрифты для инпутов и кнопок */
    
    input,
    button,
    textarea,
    select {
        font: inherit;
    }
    /* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
    
    @media (prefers-reduced-motion: reduce) {
        * {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }
    
    .dropdown {
        display: flex;
        align-items: center;
    }
    
    .container {
        max-width: 1600px;
        margin: auto;
        padding: 15px;
    }
    
    .page {
        max-width: 1600px;
        margin: auto;
        padding: 25px;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        font-family: 'Courier New', Courier, monospace;
    }
    /************************Header**********************/
    
    .switch-body {
        background: #EDEDED;
        width: 70px;
        height: 40px;
        position: relative;
        border-radius: 40%;
    }
    
    .switch {
        background: white;
        appearance: none;
        border-radius: 50%;
        display: block;
        height: 30px;
        width: 30px;
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .head {
        width: 100%;
        height: 100px;
    }
    
    .head {
        display: flex;
        justify-content: space-between;
        padding: 16px 92px;
    }
    
    .link {
        text-decoration: none;
        color: black;
        margin-left: 5px;
    }
    
    .link,
    button {
        cursor: pointer;
    }
    
    h1 {
        display: inline-block;
    }
    
    .input {
        display: inline-block;
        width: 397px;
        height: 45px;
        border: 0.5px solid rgba(0, 0, 0, 0.2);
        padding: 20px 10px 16px 35px;
        border-radius: 8px;
        margin-left: 40px;
    }
    
    .f {
        display: flex;
    }
    
    .f-center {
        justify-content: center;
    }
    
    .fv-center {
        align-items: center;
    }
    
    .circle {
        background: #EDEDED;
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }
    /************8****End Header**************************/
    /**********************Main***********************/
    
    .user_info {
        display: flex;
        flex-direction: column;
        background: #EDEDED66;
        width: 290px;
        height: 264px;
        padding: 24px;
    }
    
    .active {
        color: gray
    }
    
    .user_mail,
    .user_city,
    .user_pass {
        display: flex;
        justify-content: space-between;
    }
    
    .user_mail .btn,
    .user_city .btn,
    .user_pass .btn {
        margin-left: 614px;
        margin-top: 15px;
    }
    
    main {
        flex-grow: 1;
    }
    
    .main_content {
        justify-content: space-around;
    }
    /***************************************************/
    /**********************Foooter***********************/
    
    .footer {
        width: 100%;
        margin-top: 200px;
    }
    
    .footer_child {
        padding: 43px 94px;
        background: #EDEDED;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .footer__level1 {
        display: flex;
        justify-content: space-between;
        border-bottom: gray 1px solid;
        padding-bottom: 30px;
    }
    
    .footer__level2 {
        display: flex;
        justify-content: space-between;
        margin-top: 43px;
    }
    
    .footer__level2 div {
        display: flex;
        flex-direction: column;
    }
    
    .btn {
        background: #000000;
        padding: 3px 10px 5px;
        border-radius: 8px;
        width: 215.06px;
        height: 50px;
        color: rgb(247, 236, 236)
    }
    /***************************************************/
